<template>

<!--https://codepen.io/sheldonled/pen/Cfqmb-->
<!--https://webdevtrick.com/css-menu-hover-underline/-->

<nav id="navbar">
  <div id="logo">
       <!--<img class="ImagemLogo" src="/logoprincipal.png" alt="Logo" />-->
  </div>
  <div class="Telefone">
     <img src="/whatsapp.png" /> 
     <h2>98793-8479</h2>
  </div> 

  <div class="OpcoesMenu">
     
            <ul>
                <li ><div class="ItemMenu">Inicio</div></li>
                <li ><div class="ItemMenuDropDown">Tutoriais <span class="SetaDropDown">&#9661;</span></div>
                    <ul >
                        <li ><div class="ItemSubMenu">Php</div></li>
                        <li ><div class="ItemSubMenu">Java</div></li>
                        <li ><div class="ItemSubMenu"><p>SQL</p> <span class="SetaDropDown">&#9655;</span></div>
                                                <ul >
                                                    <li ><div class="ItemSubMenu">PostgreSQL</div></li>
                                                    <li><div  class="ItemSubMenu">MySql</div></li>
                                                </ul>
                        </li>
                    </ul>
                </li>
                <li  ><div class="ItemMenuDropDown">Redes Sociais <span class="SetaDropDown">&#9661;</span></div>
                    <ul>
                        <li><div class="ItemSubMenu">Facebook</div></li>
                        <li><div class="ItemSubMenu">Twitter</div></li>
                    </ul>
                </li>
                <li  ><div class="ItemMenu">Sobre</div></li>
            </ul>
     
  </div>  

   
</nav>
  
   
</template>

<script>




export default {
    name: "NavbarPC",
    props : {
        
    },
    components: {

                
    },
    computed: {
        
        
    },
    data() {
        return {
             
            lastScrollTop :0,
            navbar:Object,
        }
    }, // data
     methods: {
         
       
     },
     created() {

     },
     mounted(){ 
          this.navbar = document.getElementById("navbar");
        let v = this;
        window.addEventListener("scroll",function(){
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if (scrollTop > v.lastScrollTop) {
            //console.log('largura scroll em nav:', v.$store.state.global.LarguraTela)
           /* if (v.larguraTela < 1024) {
                v.navbar.style.top = "-150px"
            } else*/
                v.navbar.style.top = "-90px"
          } else {
            v.navbar.style.top = "0px"
          }
          v.lastScrollTop = scrollTop;
        })
        
     },
  

}
</script>

<style scoped>


nav {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);

    width: 100%;
    display: grid !important;
    grid-template-rows: 90px ;
    grid-template-columns: 20% 20% 60% !important;
    grid-template-areas: "logo telefone opcoesmenu";

    height: 90px;
    font-family: 'Montserrat', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    background-color: white;
    z-index: 990;

    box-sizing: border-box;
    transition: 0.5s;
}


.Telefone{
  grid-area: telefone !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  
  
}

.Telefone img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.ImagemSeta{
  height: 20px;
  width: 20px;
}

#logo {
  grid-area: logo ;
 
  display: flex ;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
 
}


.ImagemLogo {
 object-fit: cover;
 max-height: 90px;
 max-width: 25vw;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 30px;
  
}

.OpcoesMenu{
  grid-area: opcoesmenu !important;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  
}

.SetaDropDown{
  padding-left: 10px;
}



/* não alterar estrutura*/

ul ul{
    position: absolute;
    margin: 0;
    opacity: 0;
    left:-9999em;
    /* display: none;*/
   /* list-style:none;*/
  /*  background: rgb(22, 160, 133);*/
  
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
   
    padding: 0px 0px;
    background-color: rgb(253, 254, 255);
    z-index:995;
    border-radius: 10px;
    min-width:150px;
    max-width:200px;
    
    
}



li {
    display: inline-block;
    position: relative;
}


li:hover > ul {
    display: block;
    
    opacity: 1;
    transition: opacity .2s ease-in-out;
}


ul ul li {
    display: block;
    height: 45px;
   
  	
}

ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    
}

/* fim estrutura principal */
/* extras  */
/*ul ul:not(:hover) {
    
}*/
/* efeito fadein fade out*/
ul li:hover ul {
  left: 0;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 
}


ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}

ul li ul li:hover ul {
  left: 100%;
  opacity:1;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
 /* background-color: aqua;*/
}

ul li ul li:not(:hover) ul {
  left:-9999em;
  opacity:0;
  transition: left 0s ease 0s, opacity 0.6s ease 0s;
}



/* fim efeito fadein fade out*/

.ItemMenu {
  
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  color:rgb(138, 138, 138);
  height: 100%;  
  width: 100%;
  
  font-size: 17px;
  
  padding-left: 20px;
  padding-right: 20px;
 /* background-color: yellow;*/
  cursor: pointer;

}



.ItemSubMenu{
  
  display: flex !important;
  align-items: center;
  justify-content:space-between;
  color:rgb(138, 138, 138);
  height: 100%;  
  width: 100%;
  
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  /*background-color: yellow;*/
  cursor: pointer;
}


.ItemMenuDropDown{
  
  display: flex !important;
  align-items: center;
  justify-content:flex-start;

  color:rgb(138, 138, 138);
  text-align: center;
  
  
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  cursor: pointer;
}

.ItemMenuDropDown:hover{
  color: rgb(47, 79, 255);
  cursor: pointer;
}


.ItemMenu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: rgb(47, 79, 255);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  
}

.ItemMenu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  
}

.ItemMenu :hover{
 /* border-radius: 20px;
  background-color: rgb(223, 246, 255);*/
  color: rgb(47, 79, 255);
 /* cursor: pointer;*/
  border-radius: 10px;
  
}

.ItemSubMenu:hover{
 /* border-radius: 20px;*/
  background-color: rgb(223, 246, 255);
  color: rgb(47, 79, 255);
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  
}







 @media only screen and (max-width: 768px) {

 }

 /* celular*/
@media only screen and (max-width: 600px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {


}

</style>