<template>
<!--https://medium.com/@hasanparasteh/ready-to-use-vue-js-navbar-bf79c43af6da -->
<div>
 <nav id="navbar" class="dp-menu">
   
  <!--<div v-if="name" id="logo">
         {{ name }}
  </div>-->
 <!-- <div v-else id="logo">
       <img class="ImagemLogo" v-bind:src="logoImg" alt="Logo" />
  </div>-->
  <div id="logo">
       <!--<img class="ImagemLogo" src="/logoprincipal.png" alt="Logo" />-->
  </div>
  <div class="Telefone">
     <img src="/whatsapp.png" />
     <h2>98793-8479</h2>
  </div> 


  <div class="OpcoesMenu">
      <div v-if="($store.state.global.LarguraTela > 1024)" >
          <ul>
                <li  v-for="list in $store.state.stCategoriasSite.ListaCategorias" :key="list.idcategoria+'idmenu'">
                    <div @mouseover="MouseOverItem(list.idcategoria,'idmenu')" class="ItemMenu" v-if="(PopulaSubCategorias(list.idcategoria).length === 0)">
                         {{ list.categoria }}
                    </div>
                </li>
                <li v-for="listDrop in $store.state.stCategoriasSite.ListaCategorias" :key="listDrop.idcategoria+'iddrop'">
                    <div @mouseover="MouseOverItem(listDrop.idcategoria,'iddrop')" class="ItemMenuDropDown" v-if="(PopulaSubCategorias(listDrop.idcategoria).length > 0)">
                         {{ listDrop.categoria }}<span class="SetaDropDown">&#9660;</span>
                    </div>
                    <ul class="PainelLista">
                        <li v-for="item in PopulaSubCategorias(listDrop.idcategoria)" :key="item.idsubcategoria">
                              <div class="ItemSubMenu">{{ item.subcategoria }}</div>
                              
                        </li>
                        <li> <div class="ItemSubMenuNivel2">Teste sub</div> 
                            <ul class="PainelListaNivel2">
                                  <li>PostgreSQL</li>
                                  <li>MySql</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
       </div>
      </div>

      <div v-if="($store.state.global.LarguraTela < 1024)" @click="AbrirMobileNav()" id="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
      </div>

          
 </nav>
 
 </div>
</template>


<script>
/* eslint-disable */
  



export default {
  name: "Navbar2",
  
  props:{

  },
  components: {
   
  },
  computed: {
        
        PopulaSubCategorias() {

              return (idCateg) => {
                let ArraySubCateg = []
               
                if (this.$store.state.stSubCategoriasSite.ListaSubCategorias !== null)
                    ArraySubCateg = this.$store.state.stSubCategoriasSite.ListaSubCategorias.filter(function (item) {
                                                if (item.idcategoria === idCateg) {
                                                    return true
                                                    } else {
                                                    return false
                                                    }
                        })
               
                return ArraySubCateg;
             }
         },
  },
  data() {
    return {
            MenuDrop:null,
            burger:null,
            
            lastScrollTop :0,
            navbar:Object,
            /*colors : ["deepskyblue", "orange", "firebrick", "gold", "magenta", "black", "darkblue"],
            target : Object,
            links : Object,*/
  
            

    };
  }, // data
  methods: {

    AbrirMobileNav() {
      console.log('document.getElementById("myNav")',document.getElementById("myNav"))
      if (document.getElementById("myNav").style !== null)
          document.getElementById("myNav").style.height = "100%";

          this.burger = document.getElementById('burger')
          this.burger.classList.toggle('toggle')
          console.log('burger :', burger)
          console.log('burger.className :', burger.className)
          if (this.burger.className === '')
              this.closeNav();
     

    },
      
    closeNav() {
        document.getElementById("dp-menu").style.height = "0%";
    },
    
    AlterouRota(){
        console.log('Alterou rota nav :',this.burger)         
        if (this.$store.state.global.LarguraTela < 1024) {
          if (this.burger !== null) 
            if (this.burger.classList !== null) {
                console.log('Alterou rota this.burger.classList :',this.burger.classList)         
                if (this.burger.className !== '')
                    this.burger.classList.toggle('toggle')
            }
          this.closeNav();
           
        }
    },
    MouseOverItem(id,tipo) {
        console.log('Mouse over :',id + ' ' + tipo)    
    }
    
    
    
  },
  mounted() {
         

        // https://www.youtube.com/watch?v=JEBgqbZWYIQ  como tornar a nav com recolhimento
        this.navbar = document.getElementById("navbar");
        let v = this;
        window.addEventListener("scroll",function(){
          var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
          if (scrollTop > v.lastScrollTop) {
            console.log('largura scroll em nav:', v.$store.state.global.LarguraTela)
           /* if (v.larguraTela < 1024) {
                v.navbar.style.top = "-150px"
            } else*/
                v.navbar.style.top = "-90px"
          } else {
            v.navbar.style.top = "0px"
          }
          v.lastScrollTop = scrollTop;
        })

      

    },
    beforeDestroy() { 
      window.removeEventListener('popstate', this.AlterouRota);
     
     
      
    }
};
</script>

<style scoped>

nav {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);

    width: 100%;
    display: grid !important;
    grid-template-rows: 90px ;
    grid-template-columns: 20% 20% 60% !important;
    grid-template-areas: "logo telefone opcoesmenu";

    height: 90px;
    font-family: 'Montserrat', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    
    background-color: white;
    z-index: 990;

    box-sizing: border-box;
    transition: 0.5s;
}


.Telefone{
  grid-area: telefone !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  
  
}

.Telefone img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.ImagemSeta{
  height: 20px;
  width: 20px;
}

#logo {
  grid-area: logo !important;
 
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  
 
}


.ImagemLogo {
 object-fit: cover;
 max-height: 90px;
 max-width: 25vw;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 30px;
  
}

.OpcoesMenu{
  grid-area: opcoesmenu !important;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  
}



#burger {

cursor: pointer;
}

#burger div {
width: 30px;
height: 3px;
margin: 8px;

background-color: blue;
transition: all 0.3s ease-in;

}

.nav-active {
  
  transform: translateX(0) !important; /* manter o !iportant senão não abre o menu */
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-9px, 10px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
to {
    opacity: 1;
    transform: translateX(0px);
  }
}


/* novo modelo só css e html */

.PainelLista{
  -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
   
  padding-top: 5px;  
  padding-bottom: 5px;  
  background-color: rgb(253, 254, 255);
  z-index:995;
}

.PainelListaNivel2{
  -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);
   
  padding-top: 5px;  
  padding-bottom: 5px;  
  background-color: rgb(253, 254, 255);
  z-index:999;
}


.SetaDropDown{
  padding-left: 10px;
  
}

.ItemMenu .ItemMenuDropDown .ItemSubMenu .ItemSubMenuNivel2{
  
  color:rgb(90, 90, 90);
  text-align: center;
  padding-top: 8px;
  
  font-size: 17px;
  padding-left: 10px;
  padding-right: 10px;
}

.ItemMenu::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: rgb(47, 79, 255);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.ItemMenu:hover {
  color: #95a5a6;
}
.ItemMenu:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.ItemMenu:hover{
 /* border-radius: 20px;
  background-color: rgb(223, 246, 255);*/
  color: rgb(47, 79, 255);
  cursor: pointer;
}


.ItemMenuDropDown:hover{
 /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(223, 246, 255);*/
  color: rgb(47, 79, 255);
  cursor: pointer;
  
   
}

.ItemSubMenu:hover{
  background-color: rgb(186, 234, 253);
  color: rgb(47, 79, 255);
  cursor: pointer;
}


.dp-menu ul {
    list-style-type: none;
    padding: 0;

   
  
}
/*
.dp-menu ul {
    background-color: rgb(252, 252, 237);
}*/

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li div {
    color: rgb(75, 75, 75);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: background .3s;
}

/*somente css underline */

/*ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: "Lato";
  font-size: 2rem;;
  color: #ecf0f1;
  text-transform: uppercase;
  padding: 4px 0;
  transition: 0.5s;
}*/

ul li div::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: rgb(47, 79, 255);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul li div:hover {
  color: #95a5a6;
}
ul li div:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/*
.dp-menu ul li div:hover {
    background-color: rgb(118, 180, 145);
}*/

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    min-width: 200px
}

.dp-menu ul ul li div {
    display: block;
}

/* 3o nivel  */


.dp-menu ul ul ul li{
    position: absolute;
    display: none;
    margin: 0;
   /* padding: 5px 10px;*/
}

.dp-menu ul li ul li:hover > ul {
    display: block;
}

.dp-menu ul li ul li ul{
    min-width: 200px
}

/*
.dp-menu ul ul ul  {
    display: none;
    left: 0;
    position: absolute;
}*/
/*
.dp-menu ul li ul li:hover ul {
    display: block;
}

.dp-menu ul ul ul{
    min-width: 200px
}

.dp-menu ul li ul li ul li  {
    display: block;
}*/

/*  sublinhado MEnu  */


.mynav li:not(:last-child) {
  margin-right: 20px;
}

/*
.mynav a {
  display: block;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 7px 15px;
}*/

.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}

.dp-menu div,
.target {
  transition: all .35s ease-in-out;
}
/* fim sublinhado */

/* Nav modelo mobile  */

/* The Overlay (background) */


/* FIM Nav modelo mobile  */

/* Tablet */
@media screen and (max-width: 1024px) {
  nav {
    -webkit-box-shadow: 2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    -moz-box-shadow:    2px 2px 10px 0px rgba(39, 50, 63, 0.75);
    box-shadow:         2px 2px 10px 0px rgba(39, 50, 63, 0.75);

    width: 100%;
    display: grid !important;
    grid-template-rows: 90px ;
    grid-template-columns: 40% 60% !important;
    grid-template-areas: 
          "logo  opcoesmenu";
         

    height: 90px;
 
}

#logo {
 
  display: flex !important;
  align-items: center;
  justify-content: center;
  
}


.ImagemLogo {
 
 max-height: 90px;
 max-width: 30vw;
 padding-top: 10px;
 padding-bottom: 10px;
 
}


.OpcoesMenu{
  display: flex !important;
  align-items: center;
  justify-content: center;
  
}

.Telefone{

  
}

.Telefone img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.ImagemSeta{
  height: 20px;
  width: 20px;
}




/* Nav modelo mobile  */
 

/* FIM Nav modelo mobile  */

}


/* Mobile */
@media screen and (max-width: 768px) {

  nav {
  
    display: grid !important;
    grid-template-rows: 90px;
    grid-template-columns: 80% 20% !important;
    grid-template-areas: 
          "logo opcoesmenu";
         
         

    height: 90px;
}

#logo {
 
  display: flex !important;
  align-items: center;
  justify-content: center;
   
}


.ImagemLogo {
 
 max-height: 90px;
 max-width: 70vw;
 padding-top: 10px;
 padding-bottom: 10px;
 
}

.OpcoesMenu{
  display: flex !important;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  
}

.Telefone{

  
}

.Telefone img{
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.ImagemSeta{
  height: 20px;
  width: 20px;
}



/* Nav modelo mobile  */
  

/* FIM Nav modelo mobile  */

}

</style>
