<template>
  <div>
    <NavbarPC v-if="($store.state.global.LarguraTela >= 1024)"/>
    <NavBarMobile v-if="($store.state.global.LarguraTela < 1024)"/>
    <nuxt/>
  </div>
</template>



<script>

import NavBarMobile from '~/components/NavBarComp/NavBarMobile.vue'
import NavbarPC from '~/components/NavBarComp/NavbarPC.vue'

export default {
      components: {
          NavBarMobile,
          NavbarPC,
      },
    methods: { 
        larguraDaTela() {
            this.$store.dispatch('global/CommitLarguraTela',window.innerWidth);       
           // console.log('largura tela store defaut:', this.$store.state.LarguraTela)          
        },
    },
    mounted(){ 
        
          this.$store.dispatch('global/CommitLarguraTela',window.innerWidth); 
          window.addEventListener('resize', this.larguraDaTela);
    },
    beforeDestroy() { 
    
            window.removeEventListener('resize', this.larguraDaTela); 
    },
}
</script>


<style>

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>

