<template>
  <section class="container">
    <div>
     
      <div class="conteudo">
              <div>TESTES</div>
              
              <div>var NomeProjGitLab : {{$config.NomeProjGitLab}} </div>
              <div>var baseStatics : {{$config.baseStatics}} </div>
              
              <div>var Modo : {{Modo}} </div>
         
      </div>
    </div>
  </section>
</template>

<script>
//import AppLogo from '~/components/AppLogo.vue'
const config = require('../nuxt.config.js')
//import NavBarMobile from "~/components/NavBarComp/NavBarMobile.vue";

export default {

  async fetch() {
    //this.planets = await fetch('https://api.nuxtjs.dev/planets').then(res =>
   //   res.json()
   // )
            
            console.log('Entrou fetch');  
            let caminho = this.$axios.defaults.baseURL + "/padrao/"   
            var instrucaoCateg = "SELECT idcategoria,categoria,posicao FROM categsite WHERE idsiteconfig = " + this.$store.state.global.idSiteConfig + ";"
            
            var  resp = await this.$axios.get(`${caminho}${instrucaoCateg}`)
            if (resp.status === 200) {
                for (let i = 0; i < resp.data.dados.length; i++) {
                  resp.data.dados[i].submenuaberto = false;
                }

                var params = {dados:resp.data.dados}

                this.$store.dispatch('global/CommitCategoria',params) //.then(function(obj) { })
             //   console.log('v.CategoriasSite dispatch -====., ',this.$store.state.global.ListaCategorias)
                
                var instrucaoSubCateg = "SELECT idsubcategoria,idcategoria,subcategoria,posicao FROM subcategsite WHERE idsiteconfig = " + this.$store.state.global.idSiteConfig + ";"
                var respSubCat = await this.$axios.get(`${caminho}${instrucaoSubCateg}`)
               // console.log('respSubCat -====., ',respSubCat.data.dados)
                if (respSubCat.status === 200) {
                    for (let i = 0; i < respSubCat.data.dados.length; i++) {
                      respSubCat.data.dados[i].submenuaberto = false;
                    }
                    params = {dados:respSubCat.data.dados}
                    this.$store.dispatch('global/CommitSubCategoria',params) //.then(function(obj) { })
                    var instrucaoSub2Categ = "SELECT idsub2categoria,idsubcategoria,subcategoria,posicao FROM sub2categsite WHERE (idsiteconfig = " + this.$store.state.global.idSiteConfig + ");"
                    var respSub2Cat = await this.$axios.get(`${caminho}${instrucaoSub2Categ}`)
                 //   console.log('respSub2Cat -====., ',respSub2Cat.data.dados)
                    if (respSub2Cat.status === 200) {
                        params = {dados:respSub2Cat.data.dados}
                        this.$store.dispatch('global/CommitSub2Categoria',params)
                    }
                   // console.log('v.ListaSubCategorias dispatch -====., ',this.$store.state.global.ListaSubCategorias)
                }  
             }  
  },
  //fetchOnServer: false,   // deixar ativa  para executar local
  components: {
    //NavBarMobile
  },
  data() {
        return {
          Modo:'',
          idCategoria:0,
        }
  }, // data
  methods: {
          
       /* PopulaSubCategorias() {

                                 
                    let v = this
                    let params = {idsiteconfig:this.$store.state.global.idSiteConfig}
                    console.log('popula sub-categ  -====this.$store.state.global.idSiteConfig =  ',this.$store.state.global.idSiteConfig)
                        
                      this.$store.dispatch('global/PopulaSubCategoriasSite',params).then(function(obj) {
                          //console.log('PopulaSubCategoriasSite depois-====., ',v.$store.state.global.ListaSubCategorias)
                          //if (v.$store.state.global.ListaSubCategorias !== undefined) {
                              return obj                                  
                         // }

                         // console.log('v.SubCategoriasSite nossos servicos cad categoria null -====., ',v.$store.state.global.ListaSubCategorias)
                      });
                
          }*/
       
  },
  mounted(){
           const isDev = process.env.NODE_ENV !== 'production'
           if (isDev)
              this.Modo = 'Desenvolvimento'
            else
              this.Modo = 'Produção'
           console.log('process.env.NODE_ENV : ', process.env.NODE_ENV)  
           console.log('process.env isDev 2 : ', isDev)  
           console.log('$config.NomeProjGitLab : ', this.$config.NomeProjGitLab)  

           
        //   console.log('router.base : ', this.router.base)  

           
      /*  let v = this
        let params = {idsiteconfig:1}
                        
        this.$store.dispatch('global/AtualizaSiteConfig',params).then(function(obj) {
            console.log('Atualizou v.$store.state.global.idSiteConfig : ', v.$store.state.global.idSiteConfig)
        })


        console.log('ENV idsitepadraoenv : ', process.env.idsitepadraoenv)
        console.log('ENV idsitepadrao env produção : ', this.$config.idsitepadraoenv)
        if (config.dev) {
              console.log('Confi.dev ok : ', config.dev)
        }
        else {
          console.log('Confi.dev false : ', config.dev)
        }*/

       /* if ( this.$store.state.global.ListaCategorias === null) {
             let v = this
             let params = {idsiteconfig:this.$store.state.global.idSiteConfig}
              this.$store.dispatch('global/PopulaCategoriasSite',params).then(function(obj) {
                                    
                  if (v.$store.state.global.ListaCategorias.length > 0) {
                        
                        v.PopulaSubCategorias(); 
                  }
                  console.log('v.CategoriasSite nossos servicos cad categoria null -====., ',v.$store.state.global.ListaCategorias)
              });
         } */
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.conteudo{
  padding-top: 150px;
  width: 400px;
  height: 1900px;
  background-color: yellow;
}

</style>

